ul{
  list-style-type: none;
  font-size: 18px;
  font-weight: bold;
}

.set1{
  float:right;
}

.set2{
  margin-top:40px;
}

.set3{
  font-weight: bold;

}
body{
  background-color: #B7E2E8;
}
.jumbotron{
  margin-top: 30px;

}
